<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
    {% include 'main/head.html' %}
</head>
<body>

<div class="ui segment" style="margin: 20px">

    {% include 'main/navbar.html' %}

    <div class="ui form">
        <form action="{% url 'login-page' %}" method="post" id="login_form">
            {% csrf_token %}
            <div class="field">
                <label>username</label>
                <input name="username" type="text" placeholder="username">
            </div>
            <div class="field">
                <label>password</label>
                <input name="password" type="text" placeholder="password">
            </div>
            <div>
                <button type="submit" value="Login" name="submit">Login</button>
            </div>
        </form>

    </div>
    <div id="errors">
        {% for message in messages %}
        {{ message }}
    </div>

    {% endfor %}


</div>
</body>
</html>
