<div class="ui pointing menu" id="navbar">
    <a class="item" href="/" id="homepage">
        Home
    </a>
    {% if not user.is_authenticated %}
    <a class="item" id="login" href="{% url 'login-page' %}">
        Login
    </a>
    {% else %}
    <a class="item" id="logout" href="{% url 'logout-page' %}">
        Logout
    </a>
    <a class="item" id="panel" href="{% url 'profile-page' %}">
        My Profile
    </a>
    <a class="item" id="contact_us" href="{% url 'contact-us' %}">
        contact us
    </a>
    {% endif %}
    <a class="item" id="register" href="{% url 'signup-page' %}">
        Signup
    </a>

</div>
