
    <div class="ui pointing menu" id="navbar">
        <a class="item" href="/" id="homepage">
            Home
        </a>
        <a class="item" id="login">
            Login
        </a>
        <a class="item" id="register" href="{% url 'signup-page' %}">
            Signup
        </a>
        <div class="right menu">
            <div class="item">
                <div class="ui transparent icon input">
                    <input type="text" placeholder="Search...">
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>

    </div>
