<!DOCTYPE html>
<html lang="fa-IR">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% include 'main/head.html' %}
</head>

<body>
<div class="ui segment" style="margin: 20px">

    {% include 'main/navbar.html' %}
    <div>
        <a id="make_new_product" href="{% url 'new-product' %}">New Product</a>
    </div>
<!--    <div class="right menu">-->
<!--        <div class="item">-->
<!--            <div class="ui transparent icon input">-->

<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
</div>
</body>
</html>